.btn {
  width: 140px;
  height: 45px;
  background: transparent;
  font-family: $font-stack;
  border: 2px solid $red;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: translateY(-5px);
  }
  &-big {
    width: 175px;
  }
  &-super-big {
    width: 200px;
    height: 60px;
    font-size: 1rem;
  }
  &-red {
    border-radius: 5px;
    background: $red;
    color: $mainBg;
    &:hover {
      background: $mainBg;
      color: $red;
    }
  }
  &-transparent {
    color: $red;
    border-radius: 30px;
    &:hover {
      color: $mainBg;
      background: $red;
    }
  }
}
