h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.85rem;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.section-title {
  width: 550px;
  margin: 0 auto;
  text-align: center;
  p {
    margin: 1.5rem 0 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 650px) {
  .section-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    p {
      margin: 0.5rem 0 2rem;
    }
  }
}
